{% extends 'base.html' %}

{% block content %}
    <p class="main__description">
        TaskAndTimes — это удобный инструмент для учета рабочего времени и управления задачами сотрудников.
        Этот сайт поможет вам повысить эффективность работы, управлять задачами и отслеживать время сотрудников.
    </p>
    <p class="main__highlight">
        Выберите подходящий вход или <a class="link" href="{% url 'registration' %}">Зарегистрируйтесь</a>:
    </p>
    <div class="main__links">
        <a class="main__link" href="{% url 'login_employee' %}">Для сотрудников</a>
        <a class="main__link" href="{% url 'login_supervisor' %}">Для руководителей</a>
    </div>
{% endblock %}